.home-hero {
  // width: calc(100% + 80px);
  height: calc(100vh - 60px);
  position: relative;
  // left: -40px;
  padding: 0 !important;
  // max-width: none;
  //   max-height: 800px;
  // background-color: $primaryColor;
  display: flex;
  //   display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 0 80px;
  p {
    text-transform: uppercase;
    color: $primaryColor;
    &:nth-of-type(1) {
      font-size: 3em;
      margin-bottom: 20px;
      // line-height: 1em;
    }
    &:nth-of-type(2) {
      font-size: 1.1em;
    }
  }
}

.home-about {
  padding: 80px 20px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
  max-width: 800px;
  margin: 0 auto;
  color: #000;
  border-bottom: 1px solid #eee;
}

.home-technology {
  padding: 40px 20px;
  //   border: 1px solid pink;
  @include media($tablet) {
    display: flex;
    > div {
      width: 50%;
    }
  }
}
// 