@import "mixins";
@import "variables";
@import "base";
@import "home";

body {
  margin: 0;
  padding: 0;
  //   font-family: Arial, Helvetica, sans-serif;
  // font-size: 18px;
  // line-height: 24px;
}

.site-logo {
  a {
    text-align: left;
    display: block;
    width: 100px;
    text-decoration: none;
    color:$primaryColor;
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
.navigation-bar {
  padding: 10px 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.toggle-open,
.toggle-closed {
  z-index: 9999;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 5px;
}

.toggle-open {
  background-color: #fff;
  color: #000;
}

.toggle-open {
}

.main-nav-closed {
  display: none;
}
.main-nav-open {
  display: block;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  padding-top: 80px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 2.5em;
    text-transform: uppercase;
  }
}

main {
  //   padding: 20px;
}

/* Footer */

footer {
  background-color: #eee;
  color: black;
  padding: 20px;
    font-size: 0.8em;
    line-height: 1.1em;
  text-align: center;
  a {
    color: black;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

footer #contact-form {
  margin-bottom: 40px;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 120px;
  span {
    text-align: center;
    @include font(24px);
    text-transform: uppercase;
  }
  label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: -20px;
    position: relative;
    left: 5px;
    background-color: white;
    text-transform: uppercase;
    color: #ccc;
  }
  input,
  input.button,
  textarea {
    border-radius: 5px;;
    font-size: 16px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: none;
    padding: 25px 10px 10px 10px;
  }
  input.button {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid black;
    border: none;
    margin-top: 10px;
    background-color: $primaryColor;
    color: white;
    border-radius: 5px;
    width: 160px;
    text-transform: uppercase;
  }
}

footer .location-info {
  margin-bottom: 80px;
}

/* Homeoage */
